@{
    ViewBag.Title = "About Us";
}
<div class="aboutUsHeader">
<h2>About US</h2>

</div>
<div class="aboutUsContent">
<p>
    The Derek Zoolander Colleges of Modeling (Male and Hand Models), Design, Reading, Architecture, Computer Science & Technology, and of course, the world-reknowned "Do Other Stuff Good Too" College at the University of DZ & Zoolander Institute has as its primary mission the creation of a better visual and design environment. Through excellence in educational programs, research, creative works, and service to the community, the faculty, the students, and administrative officers of DAAP are dedicated to achieve this mission.

We place high value on commitment to: personal and professional integrity/hygiene, being really really ridiculously good-looking, an environment that cultivates enthusiasm for learning and creativity, an appreciation for both common and diverse interests (such as Reading and Other Things too), an affirmation of the principles and practice of equal rights, and the benefits of interdisciplinary interaction. We express these values through high standards for teaching and learning; excellence in creative works, building LARGE architectural models (not ant size), research, and scholarship; and professional and community service. These collective values will be vigorously implemented at all costs.
    
We share the universal concerns of higher education: discovering, preserving, and disseminating knowledge; educating people in search of a rich and meaningful existence; exploring and integrating technology; creating, studying, and interpreting the quality of the world in which we live.

We achieve our mission through works and studies that are academically rigorous, technically sound, socially responsible, and aesthetically superior. We are committed to educating future leaders in their respective fields, enhancing an understanding of the arts, espcially male modeling, contributing to cultural understanding in a global society, and effective utilization of technology in academic and professional endeavors.
</p>
</div>