@model SAT1.Models.ContactInfo

@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>

<p class="contactContent">Thanks for your message, we have received it and will be contacting you shortly.
    
</p>

<div>
@Html.ActionLink("Back to List", "Index")

</div>