	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0;
		padding: 0;
		background: #79C255;
		font-family: 'Montserrat', sans-serif;
		font-size: 11pt;
		font-weight: 200;
		color: #656565;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	ul.actions
	{
		text-align: center;
	}
		
		ul.actions li
		{
		}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}
	
	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: #79C255;
		border-radius: 8px;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		text-transform: uppercase;
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.7em;
		color: #6F6F6F;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 320px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}
	
	#wrapper
	{
		background: #FFF;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		padding: 5em 5em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 4em;
		left: 0;
	}
	
	#logo h1
	{
		color: #79C255;
	}
	
	#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #79C255;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 4.5em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #2B3F48;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: #2B3F48;
	}
	
	#menu .current_page_item a
	{
		border: 2px solid #79C255;
		background: #79C255;
		border-radius: 6px;
		color: #FFF;
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		overflow: hidden;
		padding: 10em 0em;
		background: url(images/banner.jpg) no-repeat center;
		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
	}

	#banner .title
	{
		margin-bottom: 1em;
		text-transform: uppercase !important;
	}

	#banner .title h2
	{
		color: #FFF;
	}

	#banner .title .byline
	{
		color: rgba(255,255,255,.6);
	}
	
	#banner .button
	{
		margin-top: 3em;
		background: #589937 !important;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 2em 0em 5em 0em;
		text-align: center;
	}
	
	#page .button
	{
		margin-top: 2em;
		display: inline-block;
		text-align: center;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.5);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #79C255;
		color: rgba(255,255,255,.8);
		text-align: center;
	}

	#featured a
	{
		color: rgba(255,255,255,1);
	}
	
	#featured .button
	{
		background: #FFF;
		margin-top: 3em;
		font-size: 1em;
		color: #79C255;
	}

	#featured .title
	{
	}

	#featured .title h2
	{
		color: #FFF;
	}

	#featured .title .byline
	{
		color: rgba(255,255,255,.6);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

.box
{
	padding: 3em 2em 2em 2em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
		text-align: center;
}


	#extra
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#extra .title
	{
		text-align: center;
	}
	
	#extra .button
	{
		margin-top: 5em;
	}
	
	#extra .fa
	{
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 3em;
	}
	
	.gallery
	{
		overflow: hidden;
		margin-bottom: 3em;
	}





    /* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}



/******Nick CSSS*/
.phaseOneLeft
{
    float: left;
    width: 48%;
}
.phaseOneRight
{
    margin-left: 52%;
}

#studentsWrapper, #courseWrapper
{
    width:50%;
    border-radius:5px;
    padding:.5em;
    
    background-color:#79C255;
    margin:auto;
    box-shadow:2px 2px white;
}
#studentsHeader
{
    text-align:center;
    color:white;
}

#studentsRight
{
    margin-left:31%;
    color:white;
}


#studentsLeft
{
    float:left;
    width:35%;
    text-align:right;
    color:white;
}
.aboutUsHeader
{
    padding: 1em 1em 0 1em;
}
.aboutUsContent
{
    margin: auto;
    padding: 2.5em;

}


/*****======Nick's Table CSS from my GENERATE.meSS Table (th, tr, td)======*******/
.nicksCustomTableStyle {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #757474;
	
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.nicksCustomTableStyle table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.nicksCustomTableStyle tr:last-child td:last-child {
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
}
.nicksCustomTableStyle table tr:first-child td:first-child {
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}
.nicksCustomTableStyle table tr:first-child td:last-child {
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
}.nicksCustomTableStyle tr:last-child td:first-child{
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
}.nicksCustomTableStyle tr:hover td{
	background-color:#ffffff;
		

}
.nicksCustomTableStyle td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #d4ffaa 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4ffaa), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #d4ffaa 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4ffaa", endColorstr="#ffffff");	background: -o-linear-gradient(top,#d4ffaa,ffffff);

	background-color:#d4ffaa;

	border:1px solid #757474;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:12px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.nicksCustomTableStyle tr:last-child td{
	border-width:0px 1px 0px 0px;
}.nicksCustomTableStyle tr td:last-child{
	border-width:0px 0px 1px 0px;
}.nicksCustomTableStyle tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.nicksCustomTableStyle tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #757474;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Verdana;
	font-weight:bold;
	color:#ffffff;
}
.nicksCustomTableStyle tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.nicksCustomTableStyle tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.nicksCustomTableStyle tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


/*Additional and Special CSS in Addition to Nick CUSTOM CSS and Default.css and Fonts.css*/
/*For Details, Index Views for Students, ScheduledClasses */

input[type="submit"]
{
    border-radius:1em;
    border: none;
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	overflow: visible;
    text-decoration:none;
}
.formWrapper
{
    border:solid 2px #757474;
    border-radius:1em;
    padding:1.5em;
    box-shadow:2px 2px lightgray;
    width:90%;
    margin-bottom:1em;
}
.formRight input[type="text"] 
{
    width:80%;
    border-radius:5px;
}
.formRight textarea
{
    width:80%;
    border-radius:5px;
    height:500px;
}
.formRight select, .formRight input[type="file"]
{
    border-radius:5px;
}

.formHeader
{
    text-align:center;
}
.formHeader input[type="text"]
{
    border-radius:5px;
}
.formLeft
{
    float:left;
    width:20%;
    text-align:right;
    line-height:2em;
    font-weight:bold;
}
.formRight
{
    margin-left:21%;
    line-height:2em;
}
.formFooter
{
    text-align:center;
}
.formFooterLeft
{
    float:left;
    width:32%;
    text-align:left;
}
.formFooterRight
{
    float:right;
    width:32%;
    text-align:right;
}
.formFooterCenter
{
    /*float:left;*/
    margin-left:33%;
    width:30%;
    text-align:center;
}
.backLinkDiv
{
    text-align:center;
    margin:2em auto 0;
    
}
/*Student*/
.studentWrapper
{
    height:300px;
    border:solid 2px #FF6633;
    border-radius:1em;
    padding:1em;
    box-shadow:2px 2px lightgray;
    /*width:90%;*/
    margin:0 1em 1em;
    width:25%;
    float:left;
}
.studentHeader
{
    text-align:center;
}
.studentBody
{
    text-align:center;
}
.studentFooter
{
    text-align:center;
}
.right
{
    text-align:right;
}
.statusWrapper
{
    text-align:center;
    border:solid 2px #FF6633;
    border-radius:1em;
    padding:1em;
    box-shadow:2px 2px lightgray;
    margin:0 1em 1em;
    width:25%;
    float:left;
    height:75px;
}
.statusWrapper input[type="text"]
{
    width:90%;
    border-radius:5px;
    margin-bottom:1em;
}
.scheduledClassWrapper
{
    height:310px;
    border:solid 2px #FF6633;
    border-radius:1em;
    padding:1em;
    box-shadow:2px 2px lightgray;
    /*width:90%;*/
    margin:0 1em 1em;
    width:40%;
    float:left;
}


/*Hide Tiny Nav*/
#nav select
{
    display:none;
}

@media screen and (max-width:650px)
{
    .sidebar
    {
        float:none;
        margin:0;
    }
    .sidebar ul li
    {
        width:100%;
    }
    #nav ul li
    {
        display:block;
        width:100%;
        background-color:#757474;
        border-bottom:white solid 1px;
    }
}
@media screen and (max-width:500px)
{
/*hide main nav and show TinyNav*/
    #nav select
    {
        display:block;
        width:100%;
        padding:5px;
        font-size:1.3em;
        background-color: #757474;
        color:white;
    }
    #nav ul
    {
        display:none;
    }
}
